* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Stint+Ultra+Condensed&display=swap"); /* TITULO */
/* font-family: 'Merienda', cursive; */ /* TITULO */
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap"); /* CUERPO */
/* font-family: 'Stint Ultra Condensed', cursive; */ /* CUERPO */

/* CSS DE HEADER */

#header {
  /*   display: flex;
  flex-flow: column wrap; */
  padding: 20px;
  align-items: center;
  background: rgb(255, 66, 244);
  background: linear-gradient(
    90deg,
    rgba(255, 66, 244, 1) 39%,
    rgba(162, 52, 149, 0.9653579676674365) 100%
  );
}
.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.logo img {
  width: 60px;
  border: 1px solid black;
  border-radius: 50%;
}

.tit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.tit h1 {
  font-family: "Merienda", cursive;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: space-between;
}
.links ul li {
  display: inline-block;
  padding: 5px;
  /* border: 1px solid black; */
  font-family: "Stint Ultra Condensed", cursive;
}

.links a {
  text-decoration: none;
  list-style-type: none;
}
p {
  color: black;
}

.formu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* CUERPO INDEX */

.carrusel {
  height: 585px;

  background-image: url(../media/carrousel.jpeg);
  background-size: cover;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  background: rgb(255, 66, 244);
  background: linear-gradient(
    90deg,
    rgba(255, 66, 244, 1) 39%,
    rgba(162, 52, 149, 0.9653579676674365) 100%
  );
}
/* ****************************** */

/* CSS - CONTACTO */
#formulario {
  margin: 50px 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

textarea {
  width: 300px;
  height: 300px;
}

/* ****************************** */

/* CSS - NOSOTROS */

.conten {
  padding: 10px;
}
.enca {
  text-align: center;
  font-family: "Stint Ultra Condensed", cursive;
  margin: 50px;
}

.txt {
  padding-top: 10px;
}

.titulo {
  padding-top: 30px;
}
